.App {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calcBtn {
    border: none;
    cursor: pointer;
    background: #a8aaac !important;
    padding: 0 !important;
    outline: none;
    box-shadow: none !important;
}

.calcBtn:hover {
    box-shadow: none !important;
}

.calcBtn .buttonSpan {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #1976d2;
    color: white;
    transform: translateY(-0.3em);
    transition: transform 0.1s ease;
}

.calcBtn:active .buttonSpan {
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
